<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


  
    <!--10:00 Задаем расширение 1*1 для кросс-устройств https://www.youtube.com/watch?v=t5hlXeln3go&feature=youtu.be-->
    



</head>

<body class="body">

    <header class="header">
        <!-- Шапка сайта-->



    </header>
    <main>




        <section class="container slider-section">

            <h2 class="slider-title">Отзывы выпускников</h2>
            <div class="rev_slider">

                <ul class="slider">
                    <li class="slider-first_social">
                        <img src="./images/slider/desc/Michail-desk-01.jpg" alt="Игорь Демьяненко" class="slider-photo" width="640">

                        <a href="" class="slider-icon_link">
                            <svg class="slider-icon" width="30" height="17">
                                <use href="./images/vector/sprite.svg#icon-man"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slider-text-list">
                        <h3 class="slider-name item">Тоня Кучеровская</h3>
                        <p class="slider-text_about item">
                            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
                        </p>
                        <p class="slider-text_review item">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз
                            я можу похизуватись тим, що я студен ... <a href="#">Read less</a>За короткий час занять з Оленою я опанувала граматику і
                            поповнила свій зовсім пустий словниковий запас. З першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз
                            я можу похизуватись тим, що я студен ..е
                        </p>
                    </li>
                </ul>

                <ul class="slider">
                    <li class="slider-first_social">
                        <img src="./images/slider/desc/Nikolay-desk-01.jpg" alt="Игорь Демьяненко" class="slider-photo">
                        <a href="" class="slider-icon_link">
                            <svg class="slider-icon" width="30" height="17">
                                <use href="./images/vector/sprite.svg#icon-man"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slider-text-list">
                        <h3 class="slider-name item">Андрей Ярмоленко</h3>
                        <p class="slider-text_about item">
                            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
                        </p>
                        <p class="slider-text_review item">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу
                            помилку. Зараз
                            я можу похизуватись тим, що я студен ... Читать дальше
                        </p>
                    </li>
                </ul>

                <ul class="slider">
                    <li class="slider-first_social">
                        <img src="./images/slider/desc/Olga-desk-01.jpg" alt="Игорь Демьяненко" class="slider-photo">
                        <a href="" class="slider-icon_link">
                            <svg class="slider-icon" width="30" height="17">
                                <use href="./images/vector/sprite.svg#icon-man"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slider-text-list">
                        <h3 class="slider-name item">София Сонная</h3>
                        <p class="slider-text_about item">
                            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
                        </p>
                        <p class="slider-text_review item">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу
                            помилку. Зараз
                            я можу похизуватись тим, що я студен ... Читать дальше
                        </p>
                    </li>
                </ul>

                <ul class="slider">
                    <li class="slider-first_social">

                        <img src="./images/slider/desc/Igor-desk-01.jpg" alt="Игорь Демьяненко" class="slider-photo">
                        <a href="" class="slider-icon_link">
                            <svg class="slider-icon" width="30" height="17">
                                <use href="./images/vector/sprite.svg#icon-man"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slider-text-list">
                        <h3 class="slider-name item">Олег Маселко</h3>
                        <p class="slider-text_about item">
                            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
                        </p>
                        <p class="slider-text_review item">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу
                            помилку. Зараз
                            я можу похизуватись тим, що я студен ... Читать дальше
                        </p>
                    </li>
                </ul>

                <ul class="slider">
                    <li class="slider-first_social">

                        <img src="./images/slider/desc/Michail-desk-01.jpg" alt="Игорь Демьяненко" class="slider-photo">
                        <a href="" class="slider-icon_link">
                            <svg class="slider-icon" width="30" height="17">
                                <use href="./images/vector/sprite.svg#icon-man"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slider-text-list">
                        <h3 class="slider-name item">Настя Балан</h3>
                        <p class="slider-text_about item">
                            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
                        </p>
                        <p class="slider-text_review item">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу
                            помилку. Зараз
                            я можу похизуватись тим, що я студен ... Читать дальше
                        </p>
                    </li>
                </ul>

                <ul class="slider">
                    <li class="slider-first_social">

                        <img src="./images/slider/desc/Igor-desk-01.jpg" alt="Игорь Демьяненко" class="slider-photo">
                        <a href="" class="slider-icon_link">
                            <svg class="slider-icon" width="30" height="17">
                                <use href="./images/vector/sprite.svg#icon-man"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slider-text-list">
                        <h3 class="slider-name item">Вера Верная</h3>
                        <p class="slider-text_about item">
                            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
                        </p>
                        <p class="slider-text_review item">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу
                            помилку. Зараз
                            я можу похизуватись тим, що я студен ... Читать дальше
                        </p>
                    </li>
                </ul>

                <ul class="slider">
                    <li class="slider-first_social">
                        <img src="./images/slider/desc/Olga-desk-01.jpg" alt="Игорь Демьяненко" class="slider-photo">
                        <a href="" class="slider-icon_link">
                            <svg class="slider-icon" width="30" height="17">
                                <use href="./images/vector/sprite.svg#icon-man"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slider-text-list">
                        <h3 class="slider-name item">Оливье Салатный</h3>
                        <p class="slider-text_about item">
                            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
                        </p>
                        <p class="slider-text_review item">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу
                            помилку. Зараз
                            я можу похизуватись тим, що я студен ... Читать дальше
                        </p>
                    </li>
                </ul>

            </div>

            <ul class="slider-second slider-nav">
                <li>
                    <img src="./images/slider/mobile/Michail-01.jpg" alt="" class="slider-second_photo" width="90" height="90">
                </li>
                <li>
                    <img src="./images/slider/mobile/Nikolay-01.jpg" alt="" class="slider-second_photo">
                </li>
                <li>
                    <img src="./images/slider/mobile/Olga-01.jpg" alt="" class="slider-second_photo">
                </li>
                <li>
                    <img src="./images/slider/mobile/Igor-01.jpg" alt="" class="slider-second_photo">
                </li>
                <li>
                    <img src="./images/slider/mobile/Michail-01.jpg" alt="" class="slider-second_photo">
                </li>
                <li>
                    <img src="./images/slider/mobile/Igor-01.jpg" alt="" class="slider-second_photo">
                </li>
                <li>
                    <img src="./images/slider/mobile/Olga-01.jpg" alt="" class="slider-second_photo">
                </li>
            </ul>

            </div>
        </section>






    </main>

    <!--Footer-->

    <!-- Ставим перед закрывающим тегом body (Java Script) -->



  

</body>

</html>