<section class="guarantees">
    <div class="container"> 

        <h1 class="guarantees-title" >Мы гарантируем</h1>
    </div>
<div class="guarantees-list-box">
    <div class="container"> 

            <ul class="guarantees-list">

               <li class="guarantees-list-item">

                    <svg class="guarantees-list-icon">
                    <use href="./images/vector/sprite.svg#icon-fire"> </use>
                    </svg> 

                   <p class="guarantees-list-description">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.<span class="guarantees-list-item-star">*</span></p>
               </li>

               <li class="guarantees-list-item">

                    <svg class="guarantees-list-icon">
                    <use href="./images/vector/sprite.svg#icon-fire"> </use>
                    </svg>

                   <p class="guarantees-list-description">Ты научишься писать сочинения минимум на 10 баллов из 14.<span class="guarantees-list-item-statistic"> В то время как 20% учеников получили за сочинение 0.</span></p>
               </li>

               <li class="guarantees-list-item">

                    <svg class="guarantees-list-icon">
                    <use href="./images/vector/sprite.svg#icon-fire"> </use>
                    </svg>

                   <p class="guarantees-list-description">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</p>
               </li>

               <li class="guarantees-list-item">

                    <svg class="guarantees-list-icon">
                    <use href="./images/vector/sprite.svg#icon-fire"> </use>
                    </svg> 

                   <p class="guarantees-list-description">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</p>
               </li>

            </ul>
        </div>  
    </div>    
    </div>   
</section> 