<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-content">
        <h1 class="hero-title">
          Комплексная подготовка к ВНО
          <span class="hero-title-br">по английскому языку</span>
        </h1>
        <p class="hero-descr">Просто не будет.</p>
        <p class="hero-descr">
          Но ты гарантировано наберешь
          <span class="hero-descr-accent">+25 баллов</span>
        </p>
        <button class="main-button accent">Хочу на бесплатное занятие</button>
      </div>
      <picture class="hero-image-wrap">
        <source
          srcset="
            ./images/desktop.w/hero.webp    1x,
            ./images/desktop.w/hero@2x.webp 2x
          "
          media="(min-width: 1354px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet.w/hero.webp    1x,
            ./images/tablet.w/hero@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/mobile.w/hero.webp    1x,
            ./images/mobile.w/hero@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop-png/hero.png    1x,
            ./images/desktop-png/hero@2x.png 2x
          "
          media="(min-width: 1354px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/tablet-png/hero.png    1x,
            ./images/tablet-png/hero@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/mobile-png/hero.png    1x,
            ./images/mobile-png/hero@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img
          class="hero-image"
          alt="Преподаватель ведет урок"
          src="./images/mobile-png/hero.png"
        />
      </picture>
    </div>
  </div>
</section>
