<section class="problems">
  <!--                    visually-hidden -->
  <div class="container">
    <h2 class="section-title visually-hidden">Проблемы учеников</h2>
    <div class="problems-title">
      <span class="section-title inverse"> Главные проблемы учеников </span>
      <p class="section-title inverse">на English ВНО, которые</p>
      <span class="section-title inverse"> мы</span>
      <span class="section-title accent"> помогаем </span>
      <span class="section-title inverse">решить</span>
    </div>

    <div class="problems-sheet">
      <ul class="problems-list">
        <li class="problems-item">
          <p class="problems-number accent">
            <span class="problems-dash">—</span> 01
          </p>
          <p class="problems-text">Название грамматики</p>
        </li>
        <li class="problems-item">
          <p class="problems-number accent">
            <span class="problems-dash">—</span> 02
          </p>
          <p class="problems-text">
            Неумение вомпринимать устную английскую речь
          </p>
        </li>
        <li class="problems-item">
          <p class="problems-number accent">
            <span class="problems-dash">—</span> 03
          </p>
          <p class="problems-text">
            Скупой словарный запас для написани сочинения
          </p>
        </li>
        <li class="problems-item">
          <p class="problems-number accent">
            <span class="problems-dash">—</span> 04
          </p>
          <p class="problems-text">Поодготовка в одиночку</p>
        </li>
        <li class="problems-item">
          <p class="problems-number accent">
            <span class="problems-dash">—</span> 05
          </p>
          <p class="problems-text">Отсутствие единого ресурса знаний</p>
        </li>
        <li class="problems-item">
          <p class="problems-number accent">
            <span class="problems-dash">—</span> 06
          </p>
          <p class="problems-text">Недостатой самоорганизации и лень</p>
        </li>
      </ul>
    </div>
  </div>
</section>
