<section class="section-program" id="program">
    <div class="container">

    <h1 class="program-title">Наша программа</h1>

    <ul class="program-list">
        <li class="program-item">
            <h2 class=" program-list-title">1 Семестр </h2>
            <ul class="program-list-lesson">
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Grammar</h3>

                    <ul>
                        <li class="program-lesson-item">Nouns & Articles </li>
                        <li class="program-lesson-item">Adjectives & Adverb</li>
                    </ul>
                </li>
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Vocabulary</h3>

                    <ul>
                        <li class="program-lesson-item">Family & Relations </li>
                        <li class="program-lesson-item">People & Society</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program-item">
            <h2 class=" program-list-title">2 Семестр</h2>
            <ul class="program-list-lesson">
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Grammar</h3>

                    <ul>
                        <li class="program-lesson-item">Pronouns</li>
                        <li class="program-lesson-item">Active Voice</li>
                        <li class="program-lesson-item">Passive Voice</li>
                    </ul>
                </li>
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Vocabulary</h3>

                    <ul>
                        <li class="program-lesson-item">Home</li>
                        <li class="program-lesson-item">School</li>
                        <li class="program-lesson-item">Work </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program-item">
            <h2 class=" program-list-title">3 Семестр</h2>
            <ul class="program-list-lesson">
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Grammar</h3>

                    <ul>
                        <li class="program-lesson-item">Modal verbs</li>
                        <li class="program-lesson-item">Infinitive</li>
                        <li class="program-lesson-item">Gerund</li>
                        <li class="program-lesson-item">Participle: 1, 2</li>
                    </ul>
                </li>
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Vocabulary</h3>

                    <ul>
                        <li class="program-lesson-item">Travel & Tourism</li>
                        <li class="program-lesson-item">Culture & Free Time</li>
                        <li class="program-lesson-item">Sport</li>
                    </ul>
                </li>
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Writing</h3>

                    <ul>
                        <li class="program-lesson-item">Informal Letter</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program-item">
            <h2 class=" program-list-title">4 Семестр </h2>
            <ul class="program-list-lesson">
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Grammar</h3>

                    <ul>
                        <li class="program-lesson-item">Clauses: Conditional and Wishes</li>
                        <li class="program-lesson-item">Direct / Reported speech</li>
                        <li class="program-lesson-item">Preposition</li>
                        <li class="program-lesson-item">Conjunction</li>
                        <li class="program-lesson-item">Numeral</li>
                    </ul>
                </li>
                <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Vocabulary</h3>

                    <ul>
                        <li class="program-lesson-item">Healthy Living</li>
                        <li class="program-lesson-item">Nature & Environment</li>
                        <li class="program-lesson-item">Money</li>
                    </ul>
                    <li class="program-sub-list">
                    <h3 class="program-lesson"><span class="program-lesson-line">—</span> Writing</h3>

                    <ul>
                        <li class="program-lesson-item">Formal Letter</li>
                    </li>
                    </ul>
        </li>
        <li class="program-item">
            <h2 class="program-list-title">5 Семестр </h2>
            <ul class="program-list-lesson">
                <h3 class="program-lesson"><span class="program-lesson-line">—</span> </h3>

                <ul>
                <li class="program-lesson-item">Revision</li>
                <li class="program-lesson-item">Tests</li></ul>
            </ul>
        </li>
    </ul>
    <div class="container images">
 <picture class="program-images">
<source srcset="./images/desktop.w/our.webp 1x, ./images/desktop.w/our@2x.webp 2x" media="(min-width: 1354px)">
<source srcset="./images/desktop/our.png 1x, ./images/desktop/our@2x.png 2x" media="(min-width: 1354px)"> 
<source srcset="./images/tablet.w/our.webp 1x, ./images/tablet.w/our@2x.webp 2x" media="(min-width: 768px)">
<source srcset="./images/tablet/our.png 1x, ./images/tablet/our@2x.png 2x" media="(min-width: 768px)">
<source srcset="./images/mobile.w/our.webp 1x, ./images/mobile.w/our@2x.webp 2x" media="(min-width: 320px)">
<source srcset="./images/mobile/our.png 1x, ./images/mobile/our@2x.png 2x" media="(min-width: 320px)">
<img src="./images/mobile/our.png" alt="преподаватель на уроке">

    </picture></div>

    <section class="section-advanteges">
        <h2 class="program-advanteges-title">Почему нас выбирают</h2>
        <div class="container__advanteges">
            <ul class="program-list-advanteges">
                <li class="program-advanteges-item">Обучение в малых командах</li>
                <li class="program-advanteges-item">Визуализированные конспекты</li>
                <li class="program-advanteges-item">Каждое занятие имеет цель и конкретный результат</li>
                <li class="program-advanteges-item">Ревльные результаты преподавателя</li>
                <li class="program-advanteges-item">Прогамма курса соответствует требованиям МОН Украины</li>
                <li class="program-advanteges-item">Набор команд по уровням знаний</li>
           </ul>
        </div>
    </section>
    </div>

</section>


