<section class="solutions" id="solutions">
  <div class="container">
    <h2 class="section-title colorize">Как мы это делаем</h2>
    <ul class="solutions-list">
      <li class="solutions-item">
        <svg class="solutions-icon" width="45">
          <use href="./images/vector/sprite.svg#icon-list"></use>
        </svg>
        <h3 class="solutions-title">
          Адаптированная программа подготовки к ВНО
        </h3>
        <p class="solutions-dash accent">—</p>
        <p class="solutions-text">
          Ты будешь изучать грамматику и лексику одновременно. И ты научишься
          писать сочинения.
        </p>
      </li>

      <li class="solutions-item">
        <svg class="solutions-icon" width="48">
          <use href="./images/vector/sprite.svg#icon-online"></use>
        </svg>
        <h3 class="solutions-title">Аудитория и<br> онлайн-обучение</h3>
        <p class="solutions-dash accent">—</p>
        <p class="solutions-text">
          Учитель поможет не только в аудитории, но и во время домашней
          подготовки. Родители могут участвовать в чате при желании.
        </p>
      </li>

      <li class="solutions-item">
        <svg class="solutions-icon" width="68">
          <use href="./images/vector/sprite.svg#icon-book"></use>
        </svg>
        <h3 class="solutions-title">Привычка читать <br>на английском языке</h3>
        <p class="solutions-dash accent">—</p>
        <p class="solutions-text">
          Статьи из источников, которые используются при разработке настоящего
          ВНО, будут приходить на телефон дважды в неделю.
        </p>
      </li>

      <li class="solutions-item">
        <svg class="solutions-icon"  width="48">
          <use href="./images/vector/sprite.svg#icon-support"></use>
        </svg>
        <h3 class="solutions-title">Психологическая<br>поддержка</h3>
        <p class="solutions-dash accent">—</p>
        <p class="solutions-text">
          Мы научим тебя методикам прохождения тестирований, умению планировать
          свою подготовку уверенности в себе.
        </p>
      </li>

      <li class="solutions-item">
        <svg class="solutions-icon" width="39">
          <use href="./images/vector/sprite.svg#icon-man"></use>
        </svg>
        <h3 class="solutions-title">Обучение по авторским пособиям</h3>
        <p class="solutions-dash accent">—</p>
        <p class="solutions-text">
          Тебе не нужно тратить время на самостоятельный поиск материала и
          ничего покупать дополнительно. Мы составили 2 пособия для тебя.
        </p>
      </li>

      <li class="solutions-item">
        <svg class="solutions-icon" width="57">
          <use href="./images/vector/sprite.svg#icon-audio"></use>
        </svg>
        <h3 class="solutions-title">
          Умение воспринимать устную английскуб речь
        </h3>
        <p class="solutions-dash accent">—</p>
        <p class="solutions-text">
          “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и
          разбирать аудиозаписи в соответствии с изучаемой лексикой.
        </p>
      </li>
    </ul>
  </div>
</section>
