.form-registration {
    padding: 50px 0;
    background-color: #111518;
    background-image:  url("../images/mobile/registration.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--bc-section-color);
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 19.04px;
    @media screen and (min-width: 768px) {
        padding-bottom: 71px;
        background-image: url("../images/tablet/registration.png");
    }
    @media screen and (min-width: 1354px) {
        padding-top: 100px;
        padding-bottom: 62px;
        background-image:  url("../images/desktop/registration.png");
    }
}
.form-text-part {
    color: var(--accent-color);
}
.form-title {
     @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.307;
    max-width: 610px;
    margin: 0 auto;
     }
     @media screen and (min-width: 1354px) {
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    max-width: 1090px;
     }
}
.form-description {
font-weight: 600;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.08em;
padding-top: 30px;
padding-bottom: 30px;
text-indent: 10px;
 .form-text-part {
    padding: 0 60px ; 
 }
@media screen and (min-width: 768px) {
    margin: 0 auto;
    padding-bottom: 40px;
    max-width: 452px;
    font-size: 14px;
    line-height: 1.214;
    .form-text-part {
    padding: 0 10px 0 0; 
 }
}
@media screen and (min-width: 1354px) {
    font-size: 30px;
    line-height: 1.233;
    max-width: 1090px;
    padding: 50px 70px 56px 70px;
}
}
.form-input {
    padding-left: 28px;
    max-width: 280px;
    width: 100%;
    height: 48px;
    border: 1px solid #FFFFFF;
    background: transparent;
    font-weight: 600;
    line-height: 1.214;
    color: var(--bc-section-color);
    font-style: italic;
    &:focus, &:not(:placeholder-shown) {
        +.form-label {
            transform: translateY(-42px);
            color: var(--accent-color);
        }
    }
    @media screen and (min-width: 768px) {
        max-width: 390px;
        width: 100%;
    }
     @media screen and (min-width: 1354px) {
        padding-left: 40px;
        max-width: 478px;
        width: 100%;
        height: 70px;
        letter-spacing: 0.08em;
        font-size: 20px;
        &:focus, &:not(:placeholder-shown) {
        +.form-label {
            transform: translateY(-60px);
        }
     }
     
    }
}
.form-field {
    position: relative;
    display: inline-block;
    width: 100%;
    &:first-child {
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: 768px)  {
        display: inline-block;
        max-width: 390px;
    }
     @media screen and (min-width: 1354px) {
        max-width: 478px;
        letter-spacing: 0.08em;
        &:first-child {
        margin-bottom: 30px;
    }
     }
}
.form-label {
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
    transition: all 250ms;
    font-weight: 600;
    line-height: 1.214;
      @media screen and (min-width: 1354px) {
        left: 40px;
        font-size: 20px;
        line-height: 1.2;
        &:hover {
            color: var(--accent-color);
            border: var(--accent-color);
        }
     }
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .main-button {
    margin-top: 50px;
      @media screen and (min-width: 768px) {
          margin-top: 31px;
      }
       @media screen and (min-width: 1354px) {
        margin-top: 80px;
        line-height: 1.2;
       }
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
      .form-registration {
          background-image:  url("../images/mobile/registration@2x.png");
        }
    }
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .form-registration {
          background-image:  url("../images/tablet/registration@2x.png");
        }
    }
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1354px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1354px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1354px),
  screen and (min-resolution: 192dpi) and (min-width: 1354px),
  screen and (min-resolution: 2dppx) and (min-width: 1354px) {
       .form-registration {
          background-image:  url("../images/desktop/registration@2x.png");
        }
    }