.header {
  padding-top: 30px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover > .menu-icon {
    fill: var(--accent-color);
  }
}

.header-nav-list {
  display: none;
}

.modal-nav-link {
  color: var(--white-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1354px) {
  .header-nav-list {
    display: flex;
    color: var(--second-color);
    margin-left: auto;
    margin-right: 60px;
  }

  .header-nav-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .header-nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-nav-link {
    color: currentColor;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

// BACKDROP

.backdrop .container {
  width: 100%;
  position: relative;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(17, 21, 24, 0.9);

  transition: all 500ms linear;

  overflow-y: scroll;
  z-index: 10;
}

.modal-close-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  position: absolute;
  top: 37px;
  right: 23px;

  cursor: pointer;
}

.close-btn-icon {
  fill: var(--white-color);
}

.modal-menu-list {
  color: var(--white-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal-menu-list {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 53px;
    right: 43px;
  }

  .modal-menu-list {
    max-width: 332px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 800;
    font-size: 26px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1354px) {
  .header-menu-btn,
  .backdrop {
    display: none;
  }
}
