.inverse {
  color: var(--white-color);
}
.accent {
  color: var(--accent-color);
}

.problems {
  position: relative;
  padding: 50px 0 330px;
  background-color: var(--main-color);
  background-image: url('../images/tablet/flame.png');
  background-repeat: no-repeat;
  background-position: right bottom;

  &-title {
    margin-bottom: 26px;
  }
  &-sheet {
    position: absolute;
    width: 280px;
    padding: 20px 14px 20px 30px;

    background-color: var(--white-color);

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.08em;

    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  &-item:not(:last-child) {
    @media screen and (max-width: 1353px) {
      margin-bottom: 10px;
    }
  }
  &-dash {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.08em;
  }
  &-number {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
//-----------------------Tablet------------------------
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .problems {
    padding: 50px 0 170px;
    background-color: var(--main-color);
    background-image: url('../images/tablet/flame.png');
    background-repeat: no-repeat;
    background-position: right bottom;

    &-sheet {
      width: 686px;
      padding: 30px 116px 26px 96px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 219px;

      &:nth-child(4) {
        width: 120px;
      }
      &:nth-child(5) {
        margin-bottom: 0;
      }
      &:not(:nth-child(2n)) {
        margin-right: 36px;
      }
    }
  }
}
//------------------------DT----------------------------
@media screen and (min-width: 1354px) {
  .problems {
    padding: 100px 0 195px;
    background-color: var(--main-color);
    background-image: url('../images/desktop/flame.png');
    background-repeat: no-repeat;
    background-position: right bottom;

    &-title {
      margin-bottom: 70px;
    }
    &-sheet {
      width: 1314px;
      padding: 70px 113px 62px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 336px;
      margin-bottom: 0px;

      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(3n) {
        margin-left: 40px;
      }
      
      &:nth-child(-n + 3) {
        margin-bottom: 32px;
      }
    }

    &-dash,
    &-number {
      font-size: 20px;
      line-height: calc(33 / 20);
    }
    &-text {
      font-size: 20px;
      line-height: calc(24 / 20);
    }
  }
}
