.problems {
  position: relative;

  height: 545px;
  padding: 60px 0;
  background-color: #111518;
}
.problems .section-title {
  text-align: left;
}
.problems-title {
  margin-bottom: 27px;
}
.inverse {
  color: #fff;
}
.accent {
  color: rgba(255, 107, 9, 1);
}
.problems-sheet {
  position: absolute;
  width: 280px;
  padding: 20px 14px 20px 30px;

  background-color: #fff;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.08em;

  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.problems-item:not(:last-child) {
  @media screen and (max-width: 1353px) {
    margin-bottom: 10px;
  }
}
.problems-dash {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.08em;
}
.problems-number {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: calc(17 / 14);
//   outline: 1px solid blue;
}
//-----------------------Tablet------------------------
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .problems {
    height: 340px;
    padding: 60px 0;
  }
  .problems-sheet {
    width: 686px;
    padding: 30px 116px 26px 96px;
  }
  .problems-list {
    display: flex;
    flex-wrap: wrap;
  }
  .problems-item {
    width: 219px;
  }
  .problems-item:nth-child(4) {
    width: 120px;
  }
  .problems-item:nth-child(5) {
    margin-bottom: 0;
  }
  .problems-item:not(:nth-child(2n)) {
    margin-right: 36px;
  }
}
//------------------------DT----------------------------
@media screen and (min-width: 1354px) {
  .problems .container {
    padding: 100px 20px 0 20px;
  }
  .problems {
    height: 560px;
  }
  .problems-sheet {
    width: 1314px;
    padding: 70px 113px 62px;
  }
  .problems-list {
    display: flex;
    flex-wrap: wrap;
  }
  .problems-item {
    width: 336px;
  }
  .problems-item:nth-child(2),
  .problems-item:nth-child(5),
  .problems-item:nth-child(3n) {
    margin-left: 40px;
  }
  .problems-item {
    margin-bottom: 0px;
  }
  .problems-item:nth-child(-n + 3) {
    margin-bottom: 32px;
  }
  .problems-dash {
    font-size: 20px;
    line-height: calc(33 / 20);
  }
  .problems-number {
    font-size: 20px;
    line-height: calc(33 / 20);
  }
  .problems-text {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
